div.header-hi
    h1
        a(href="/")= sitename
    h5
      | #{siteheader}
    hr
    if user
        h5= user.user_name
        h5= user.user_email
        if user.user_type === "admin"
            h5.user-type= "You're"
                a(href="/admin", style="font-size: 14px; color: #03a9f4")=" admin"
        else 
            h5= "You're member"