div.header-hi
    h1
        a(href="/") Ertaga
    h6= useuse
     //- Har doim ertaga amalga oshiraman.
    if user
        h5= user.user_name
        h4= user.user_email
        if user.user_type === "admin"
            h3.user-type= "You're"
                a(href="/admin")=" admin"
        else 
            h3= "You're member"