include ../head.pug
body.sidebar-fixed.header-fixed
		.page-wrapper
			
			include ../page-header.pug


			.main-container
				



				include ../sidebar.pug
				


				

				.content
					.container-fluid
						form(action="/admin/article/edit" method="POST").row.mt-4
							input(type="hidden", name="_method", value="PUT")
							//- input(type="hidden", name="old_urlslug", value=)
							.col-md-3
								.card
									.card-header.bg-success
										| Categories
									.card-body 
										ul.nav.nav-tabs(role='tablist')
											li.nav-item
												a.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home') All Categories
											li.nav-item
												a.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile') Recent Categories
										.tab-content
											#home.tab-pane.active(role='tabpanel')
												if categories
													each category, index in categories
														each cat in post.categories
															if(category.term_name === cat)
																input(type='checkbox', name='category['+ index + ']', value=category.term_id, checked)
																|  #{category.term_name}
																br
															else
																input(type='checkbox', name='category['+ index + ']', value=category.term_id)
																|  #{category.term_name}
																br
												
												//- input(type="checkbox") 
												
											#profile.form-group.tab-pane(role='tabpanel')
												input(type='checkbox', name='category[0]', value='backend')
												|  Backend

										br
										a(href="/admin/article/categories")
											| + Add new category
								br
								.card
									.card-header.bg-success
										| Tags
									.card-body
										.form-group
											label.col-sm-3.control-label(for='tags') Tags
											.col-sm-9
												- var tags = post.tags;
												- var tag = tags.map(tag => tag['term.term_slug'])
												- tag = tag.join(',');
												input(type="hidden", name="oldtags", value=tag)
												input.form-control#tags(type='text', name="tags", value=tag, placeholder='Enter the tags')
								br
								.card
									.card-header.bg-success
										| URL Slug
									.card-body
										.form-group
											label.col-sm-4.control-label(for='slug') URL slug
											input(type="hidden", name="oldslug", value=post.url_slug)
											input.form-control#slug(type='text', name='url_slug', value=post.url_slug)
											| 		
								br
								//- .card
								//- 	.card-header.bg-success
								//- 		| Pick Datetime
								//- 	.card-body
								//- 		.form-group
								//- 			label.col-sm-4.control-label(for='Date') URL slug #{post.post_created_time}
								//- 			input.form-control#Date(type='datetime-local', name='date_time', value=post.post_created_time)
								//- 			| 	
							.col-md-9
								.row
									.col-md-12
										
										.card
											.card-header.bg-light
												| edit article
											.card-body
												.form-group
													label.form-control-label(for='normal-input') Heading
													input#normal-input.form-control(placeholder="write your article heading", name="heading",value=post.post_title)
												textarea(name="content" id="editor")= post.post_content
												br
												.form-group
													label(for="status") Comments Status
													select(name="comments")#status.form-control
														option(value="open") enable
														option(value="close") disable	


												br
												.form-group
													label(for="status") Select Article Status
													select(name="status")#status.form-control
														option(value="publish") Publish
														option(value="draft") Draft	
												br
												button(type="submit").btn.btn-primary.right
													| Post this article
								
		




		script(src='/vendor/ckeditor/ckeditor.js')
		script(type="text/javascript").
			ClassicEditor
			    .create( document.querySelector( '#editor' ) )
			    .then( editor => {
			        console.log( editor );
			    } )
			    .catch( error => {
			        console.error( error );
			    } );
		include ../foot.pug										
		script(src='/js/jquery.tagsinput.min.js')

