include ../head.pug
body.sidebar-fixed.header-fixed
		.page-wrapper
			
			include ../page-header.pug


			.main-container
				



				include ../sidebar.pug
				


				

				.content
					.col-md-12
						.card
							.card-header.bg-light
								| Normal Table
							.card-body
								.table-responsive
									table.table
										thead
											tr
												th Heading
												th Author
												th Comments
												th Date
												th action
												th action
										tbody
											if pages
												if pages.length !== 0
													each post, i in pages	
														// - i = i + 1
														tr
															//- td= i
															td.text-nowrap= post.post_title
															td= post['user.user_name']
															td 
																if post.comment_status === "close"
																	| -
																else 
																	| #{post.comment_count}
															td
																- var date = post.post_created_time
																- var yyyy = date.getFullYear();
																- var M = date.getMonth()+1;
																-  M = ("0" + M).slice(-2);
																- var dd = date.getDate();
																-  dd = ("0" + dd).slice(-2);
																- var hh = date.getHours();
																- hh = ("0" + hh).slice(-2);
																- var mm = date.getMinutes();
																- mm = ("0" + mm).slice(-2);
																|#{`${hh}:${mm} ${dd}-${M}-${yyyy} `}
															
															td 
																a(href='/admin/pages/edit?id='+post.post_id).btn.btn-warning Edit
															td
																form(action="/admin/pages/delete", method="POST")
																	input(type="hidden", name="_method", value="DELETE")
																	input(type="hidden", name="post_id", value=post.post_id)
																	button(type="submit").btn.btn-danger Delete
												else
													span no data...

		include ../foot.pug										
		script(src='/js/jquery.tagsinput.min.js')

